node_modules
.env
.Dex
.scripts_copy
coverage
coverage.json
typechain
typechain-types

# legacy contracts
contracts/Channel_iN/legacy/*

# Hardhat files
cache
artifacts
# deployments
contracts/P1
contracts/P2
contracts/db

contracts/Channel_iN/libraries/LibP0.sol